<div class="actions">
  <input
    class="importJson"
    id="import-json"
    type="file"
    (change)="jsonChange.emit($event)"
    accept=".json"
  />
  <label for="import-json" title="import a json file">
    <fa-icon [icon]="faFileImport"></fa-icon>
  </label>

  <button
    class="exportJson"
    id="export-json"
    (click)="jsonExport.emit()"
  ></button>
  <label for="export-json" title="save as a json file">
    <fa-icon [icon]="faFileExport"></fa-icon>
  </label>

  <button class="clearJson" id="clear-json" (click)="onJsonClear()"></button>
  <label for="clear-json" title="clear json">
    <fa-icon [icon]="faRemoveFormat"></fa-icon>
  </label>
</div>
