/* You can add global styles to this file, and also import other style files */
// Define variables
$font-family: "Poppins", sans-serif;
$white: #fff;
$bg-color: #202124;
$warn-color: #f42c15;
$gold-color: #ffc700;
$primary-color: #3883fa;
$light-primary: #6c7a86;
$secondary-color: #06df06;
$light-secondary: #4cfffa;
$background-color: #4c4c4c;
$dark-background: #303443;

$page-padding: 2rem 4rem;
$bar-height: 35px;
$editor-header-height: 4rem;
$editor-height: 75vh;
$padding-1: 1rem;
$radius: 7px;
$radius-top: 7px 7px 0 0;
$radius-bottom: 0 0 7px 7px;

// Define mixins
@mixin font($family: $font-family, $size: 16px) {
  font-family: $family !important;
  font-size: $size;
}

// Import external stylesheets
@import "~jsoneditor/dist/jsoneditor.min.css";
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Poppins:ital,wght@1,400&family=Signika+Negative&display=swap");

// Use nesting and variables
html {
  background-color: $bg-color;
  padding: $page-padding;

  // Use mixins
  @include font();

  &,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  section,
  b,
  strong,
  small,
  ul,
  ol,
  li,
  button,
  a,
  table,
  thead,
  tbody,
  tr,
  td,
  th {
    font-family: $font-family !important;
  }
}

.jsoneditor {
  border: none !important;
  .jsoneditor-menu {
    background-color: $bg-color;
    border: none !important;
    height: $editor-header-height;
    display: flex;
    align-items: center;
    .jsoneditor-poweredBy {
      display: none !important;
    }
    .jsoneditor-search {
      .jsoneditor-results {
        color: $primary-color;
        align-items: center;
        display: flex;
      }
      .jsoneditor-frame {
        border-radius: $radius;
        height: $bar-height;
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
      }
    }
  }
  .jsoneditor-anchor {
    .jsoneditor-contextmenu-root {
      .jsoneditor-contextmenu {
        .jsoneditor-menu {
          height: max-content;
          display: block;
        }
      }
    }
  }
  .jsoneditor-navigation-bar {
    height: $bar-height;
    display: flex;
    align-items: center;
    border-radius: $radius-top;
    padding-inline: $padding-1;
    border: none;
    color: $primary-color;
    background-color: $dark-background;
  }
  .jsoneditor-outer {
    height: $editor-height !important;
    td.jsoneditor-tree {
      background: transparent !important;
    }
    .jsoneditor-tree {
      background: $background-color !important;
      border-radius: $radius-bottom;
      .jsoneditor-readonly {
        color: $gold-color;
      }
      .jsoneditor-popover,
      .jsoneditor-schema-error,
      .jsoneditor td,
      .jsoneditor textarea,
      .jsoneditor th,
      .jsoneditor-field,
      .jsoneditor-value,
      pre.jsoneditor-preview {
        color: $primary-color;
      }
      .jsoneditor-value.jsoneditor-string {
        color: $secondary-color !important;
      }
      .jsoneditor-value.jsoneditor-number {
        color: $warn-color !important;
      }
      .jsoneditor-field.jsoneditor-highlight,
      .jsoneditor-field[contenteditable="true"]:focus,
      .jsoneditor-field[contenteditable="true"]:hover,
      .jsoneditor-value.jsoneditor-highlight,
      .jsoneditor-value[contenteditable="true"]:focus,
      .jsoneditor-value[contenteditable="true"]:hover {
        background-color: $light-primary;
        border: none;
        border-radius: $radius;
      }
    }
    textarea.jsoneditor-text {
      color: $primary-color !important;
      border-radius: $radius-top;
      background: $background-color !important;
      padding: $padding-1;
    }
    .ace-jsoneditor.ace_editor,
    textarea.jsoneditor-text.ace_editor {
      border-radius: $radius-top;
    }
    .ace-jsoneditor {
      .ace_gutter {
        background: $dark-background;
        color: $light-primary;
      }
      .ace_scroller {
        background: $background-color;
      }
      .ace_text-layer {
        color: $primary-color;
      }
      .ace_variable {
        color: $light-secondary;
      }
      .ace_indent-guide {
        background: none;
      }
      .ace_string {
        color: $secondary-color;
      }
      .ace_marker-layer .ace_active-line {
        background: $light-primary;
      }
      .ace_marker-layer .ace_selection {
        background: $dark-background;
      }
    }
  }
  .jsoneditor-statusbar {
    height: $bar-height;
    display: flex;
    align-items: center;
    border-radius: $radius-bottom;
    padding-inline: $padding-1;
    border: none;
    color: $white;
    background-color: $dark-background;
  }
}
