/* You can add global styles to this file, and also import other style files */

// Define theme
@import "app/theme";

// Define bootstrap
@import "~bootstrap/dist/css/bootstrap.css";

// Define variables
@import "assets/variables";

// Define json theme
@import "assets/json-theme";

// Use nesting and variables
html {
  background-color: $bg-color;
  height: 100% !important;
  overflow: hidden !important;

  // Use mixins
  @include font();

  &,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  section,
  b,
  strong,
  small,
  ul,
  ol,
  li,
  button,
  a,
  table,
  thead,
  tbody,
  tr,
  td,
  th {
    font-family: $font-family !important;
  }
}

body {
  height: 100% !important;
  overflow: hidden !important;
}

// Define scrollbar theme
@import "assets/scrollbar";
